{% extends 'base.html.twig' %}


{% block title %}
    {{ curso.nombre }} - {{ especialidad.id }}
{% endblock %}

{% block body %}
    <h2>Plazas de <strong>{{ especialidad.id }} - {{ especialidad.nombre }}</strong></h2>
    <h2>Curso {{ curso.nombre }}</h2>

    {{ plazas|length }} plazas encontradas.

    <table class="table-bordered table table-striped">
        <tr>
            <th>Provincia</th>
            <th>Plazas</th>
        </tr>
        {% for provincia, pl in plazas %}
            <tr>
                <td>{{ provincia_label(provincia) }}</td>
                <td>
                    <a href="{{ path('app_plazas_especialidad_curso_provincia', { curso: curso.id, especialidad: especialidad.id, provincia: provincia}) }}">{{ pl|length }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}
