{% extends 'base.html.twig' %}


{% block title %}Welcome!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
{% endblock %}

{% block body %}
    <h1>Plazas</h1>

    {% for provincia in provincias %}
        <h2>{{ provincia.id }} - {{ provincia.nombre }}</h2>
        <ul>
            {% for localidad in provincia.localidades %}
                <li>
                    {{ localidad.id }} ({{ localidad.nombre }})
                    <ul>
                        {% for centro in localidad.centros %}
                            <li>
                                {{ centro.id }} - {{ centro.nombre }}
                                <ul>
                                    {% for plaza in centro.plazas %}
                                        <li>
                                            {{ plaza.especialidad.nombre }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <hr>
    {% endfor %}


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
