{% extends 'base.html.twig' %}


{% block title %}
    {{ curso.nombre }} - {{ especialidad.id }}
{% endblock %}


{% block body %}
    <h2>Plazas de <strong>{{ especialidad.id }} - {{ especialidad.nombre }}</strong></h2>
    <h2>Curso {{ curso.nombre }}</h2>
    <h2>Provincia {{ provincia.nombre }}</h2>

    {{ plazas|length }} plazas encontradas.

    <table class="table table-striped table-bordered">
        <tr>
            <th>Convocatoria</th>
            <th>Fecha</th>
            <th>Provincia</th>
            <th>Localidad</th>
            <th>Centro</th>
            <th>Tipo</th>
            <th>Obligatoriedad</th>
            <th>Número</th>
            <th>F. Cese</th>
            <th>Adjudicada</th>
        </tr>
        {% for plaza in plazas %}
            <tr>
                <td>{{ plaza.convocatoria.id }}</td>
                <td>{{ plaza.convocatoria.fecha|date('d/m/Y') }}</td>
                <td>{{ provincia.nombre }}</td>
                <td>{{ plaza.centro.localidad.nombre }}</td>
                <td>{{ plaza.centro.id }} - {{ plaza.centro.nombre }}</td>
                <td>{{ plaza.tipo.value }}</td>
                <td>{{ plaza.obligatoriedad.value }}</td>
                <td>{{ plaza.numero }}</td>
                <td>{{ plaza.fechaPrevistaCese ? plaza.fechaPrevistaCese|date('d/m/Y') : '' }}</td>
                <td>{{ plaza.adjudicaciones ? plaza.adjudicacionesAsString }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}
