{% extends 'base.html.twig' %}


{% block title %}{{ especialidad.id }} - {{ especialidad.nombre }}{% endblock %}

{% block body %}
    <h2>Especialidad: <strong>{{ especialidad.id }} - {{ especialidad.nombre }}</strong></h2>

    <table class="table table-striped mt-5">
        <tr>
            <th>Provincia</th>
            {% for curso in cursos %}
                <th>Curso {{ curso.nombre }}</th>
            {% endfor %}
        </tr>
        {% for provincia in provincias %}
            <tr>
                <td>
                    {{ provincia.nombre }}
                </td>
                {% for cursoId, provinciasByCurso in plazasFiltradas %}
                    <td>
                        {% if provinciasByCurso[provincia.id] > 0 %}
                            <a href="{{ path('app_especialidad_detail', { especialidad: especialidad.id, curso: cursoId, provincia: provincia.id } ) }}">
                                <span class="badge rounded-pill text-bg-primary">
                                    {{ provinciasByCurso[provincia.id] }}
                                </span>
                            </a>
                        {% else %}
                            <span>
                                -
                            </span>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <h3 class="mt-5">Gráfico de evolución de plazas</h3>
    <div class="col-12 col-xl-8 mx-auto" style="min-height: 400px">
        {{ render_chart(chart) }}
    </div>

{% endblock %}
