{% extends 'base.html.twig' %}


{% block title %}
    {{ curso.nombre }} - {{ especialidad.id }}
{% endblock %}


{% block body %}
    <h2>Especialidad: <strong><a class="text-decoration-none"
                                 href="{{ path('app_especialidad_index', { especialidad: especialidad.id } ) }}">{{ especialidad.id }}
                - {{ especialidad.nombre }}</a></strong></h2>
    <h3><span class="badge text-bg-primary">Curso {{ curso.nombre }}</span> / <span
            class="badge text-bg-secondary">{{ provincia.nombre }}</span></h3>



    <table class="table table-bordered table-striped  mt-5">
        <thead class="table-light align-middle">
        <tr>
            <th scope="col" rowspan="2">Plazas convocadas:</th>
            <td rowspan="2">{{ plazas|length }}</td>
            <th scope="col">Vacantes:</th>
            <td>{{ vacantes|length }}</td>
            <th scope="col"><i class="bi-align-top text-success"></i> Primera posición:</th>
            <td>{{ minOrden }}</td>
        </tr>
        <tr>
            <th scope="col">Desiertas / No adjudicadas:</th>
            <td>{{ desiertas|length }}</td>
            <th scope="col"><i class="bi-align-bottom text-danger"></i> Última posición:</th>
            <td>{{ maxOrden }}</td>
        </tr>
        </thead>
    </table>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <tr>
                <th>Convocatoria</th>
                <th>Provincia</th>
                <th>Localidad</th>
                <th>Centro</th>
                <th>Tipo</th>
                <th>Obligatoriedad</th>
                <th>Num. Plazas</th>
                <th>Fecha prev. cese</th>
                <th>Posición adjudicada</th>
            </tr>
            {% for plaza in plazas %}
                <tr>
                    <td class="text-nowrap"><span class="badge text-bg-dark">{{ plaza.convocatoria.id }}</span><span
                            class="badge text-bg-light">{{ plaza.convocatoria.fecha|date('d/m/Y') }}</span></td>
                    <td><span class="small">{{ provincia.nombre }}</span></td>
                    <td class="text-nowrap"><span class="small">{{ plaza.centro.localidad.nombre }}</span></td>
                    <td class="text-nowrap"><span class="small">{{ plaza.centro.id }} - {{ plaza.centro.nombre }}</span>
                    </td>
                    <td><span class="small">{{ plaza.tipo.value }}</span></td>
                    <td><span class=" small">{{ plaza.obligatoriedad.value }}</span></td>
                    <td><span class="small">{{ plaza.numero }}</span></td>
                    <td><span
                            class="small">{{ plaza.fechaPrevistaCese ? plaza.fechaPrevistaCese|date('d/m/Y') : '' }}</span>
                    </td>
                    <td><span
                            class="small font-monospace">{% if plaza.id in desiertas %}Desierta{% else %}{{ plaza.adjudicaciones ? plaza.adjudicacionesAsString }}{% endif %}</span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
